{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Список заявок</title>
    <!-- Иконки -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.4.0/dist/select2-bootstrap-5-theme.min.css" rel="stylesheet"/>

    <!-- Flatpickr CSS -->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
    
    <!-- Стили -->
    <link rel="stylesheet" href="{% static 'myrequests/css/request_list.css' %}"/>
</head>
<body>
    <div class="container py-3">
        {% csrf_token %} 
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Список заявок</h2>
            <!-- Информация о пользователе -->
            <div class="d-flex flex-column align-items-center gap-1">
                <p class="mb-0 text-center"><small>{{ request.user.email }}</small></p>
                {% if profile %}
                <p class="mb-0 fw-bold text-center fio-header">{{ profile.full_name }}</p>
                <p class="mb-0 text-center role-header">{{ profile.role.name }}</p>
                {% endif %}
            </div>
            <!-- Кнопки -->
            <div class="d-flex flex-column align-items-end gap-1">
                <div class="d-flex flex-wrap gap-2 justify-content-end">
                    {% if profile and profile.role.code == 'operator' or profile.role.code == 'customer' %}
                    <a href="{% url 'request_create' %}"
                        class="btn btn-success btn-sm d-inline-flex align-items-center">
                        <i class="bi bi-plus-circle me-1"></i>
                        <span class="d-none d-sm-inline">Создать заявку</span>
                        <i class="bi bi-plus-circle d-sm-none"></i>
                    </a>
                    {% endif %}
                    <a href="/accounts/logout/" class="btn btn-outline-secondary btn-sm d-inline-flex align-items-center">
                        <i class="bi bi-box-arrow-right me-1"></i><span class="d-none d-sm-inline">Выход</span>
                        <i class="bi bi-box-arrow-right d-sm-none"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Фильтры и поиск -->
        <div class="search-filter-container">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Левая колонка: фильтры -->
                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                        <div class="d-flex flex-column align-items-center">
                            <!-- Блок фильтров -->
                            <div class="filter-row d-flex flex-wrap justify-content-center gap-3 w-100 mb-3">
                                <!-- Фильтр по статусу -->
                                <select id="statusFilter" class="form-select w-auto flex-grow-1">
                                    <option value="">Все статусы</option>
                                    {% for status in statuses %}
                                    <option value="{{ status.code }}">{{ status.name }}</option>
                                    {% endfor %}
                                </select>

                                <!-- Фильтр по локации -->
                                {% if not profile or profile.role.code == 'employee' %}
                                <select id="locationFilter" class="form-select w-auto flex-grow-1">
                                    <option value="">Все локации</option>
                                        {% for location in locations %}
                                        <option value="{{ location.code }}">{{ location.name }}</option>
                                        {% endfor %}
                                </select>
                                {% endif %}

                                <!-- Фильтр по категории -->
                                <select id="categoryFilter" class="form-select w-auto flex-grow-1">
                                    <option value="">Все категории</option>
                                    {% for category in categories %}
                                    <option value="{{ category.code }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Период -->
                            <div class="w-100 d-flex justify-content-center">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="text-nowrap">Период:</span>
                                    <input type="text" id="dateStartFilter" class="form-control" placeholder="От" style="max-width: 120px;" />
                                    <input type="text" id="dateEndFilter" class="form-control" placeholder="До" style="max-width: 120px;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Правая колонка: поиск + кнопки -->
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-column align-items-center">
                            <!-- Поиск -->
                            <div class="col-12 no-row-gap align-items-center" style="max-width: 630px;">
                                <!-- Контейнер для label и кнопки "+" -->
                                <div class="d-flex justify-content-between align-items-center mb-2 w-100">
                                    <label for="searchInput" class="form-label text-center mb-0">
                                        Поиск по заявкам
                                    </label>
                                    <button id="add-search-btn" type="button" class="btn btn-outline-primary btn-sm position-relative">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                </div>

                                <!-- Контейнер для поиска -->
                                <div class="d-flex justify-content-center w-100 mb-1">
                                    <div class="w-100" style="max-width: 630px;">
                                        <div class="input-group">
                                            <input type="text" id="searchInput" class="form-control" placeholder="Поиск по заявкам..." />
                                        </div>
                                    </div>
                                </div>

                                <!-- Динамические строки поиска -->
                                <div class="d-flex justify-content-center w-100" >
                                    <div id="add-search-container" class="w-100"style="max-width: 630px;"></div>
                                </div>

                                <!-- Скрытое поле -->
                                <input type="hidden" id="searchConditions" name="search_conditions" />
                            </div>
                            <!-- Блок кнопок -->
                            <div class="w-100 mt-3 d-flex justify-content-end gap-2 btn-work-data">
                                <button id="clearAllFilter" class="btn btn-outline-secondary btn-sm d-flex align-items-center gap-1" type="button">
                                    <i class="bi bi-x-circle icon"></i>
                                    <p class="text mb-0">Сбросить</p>
                                </button>
                                <button id="saveFiltersBtn" class="btn btn-outline-primary btn-sm d-flex align-items-center gap-1" type="button">
                                    <i class="bi bi-funnel"></i> 
                                    <p class="text mb-0">Сохранить фильтры</p>
                                </button>
                                <button id="exportExcelBtn" class="btn btn-success btn-sm d-flex align-items-center gap-1" type="button">
                                    <i class="bi bi-file-earmark-spreadsheet"></i> 
                                    <p class="text mb-0">В Excel</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Модальное окно -->
        {% include 'modals/export_modal.html' %}

        <!-- Таблица заявок -->
        <div class="table-container">
            <table id="requestsTable" class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th class="actions" style="left: 0; z-index: 1">Действия</th>
                        <th>#</th>
                        <th id="sortDateHeader" class="sortable">Дата подачи</th>
                        <th>Период работ</th>
                        <th>Вид транспорта</th>
                        <th>Вид работ</th>
                        <th>Объект работ</th>
                        <th>Статус</th>
                        <th>Заказчик</th>
                        <th>Подразделение</th>
                        <th>Ответственный</th>
                        <th>Перерывы</th>
                        {% if not profile or profile.role.code == 'employee' %}
                        <th>Локация</th>
                        {% endif %}
                        <th>Категория техники</th>
                    </tr>
                </thead>
                <tbody>
                    {% for req in requests %}
                        <tr 
                            data-id="{{ req.id }}"
                            created-at="{{ req.created_at|date:'c' }}"
                            data-submitted="{{ req.created_at|date:'c' }}"
                            data-status-id="{{ req.status.id }}"
                            data-status="{{ req.status.code }}"
                            data-status-name="{{ req.status.name }}"
                            data-location="{{ req.location.code }}"
                            data-location-name="{{ req.location.name }}"
                            data-equipment-category="{{ req.equipment_category.code }}"
                            data-equipment-category-name="{{ req.equipment_category.name }}"
                            data-customer="{% if req.customer %}{{ req.customer.full_name|lower }}{% endif %}"
                            data-responsible="{% if req.responsible %}{{ req.responsible.full_name|lower }}{% endif %}"
                            data-work-type="{{ req.work_type|lower }}"
                            data-work-object="{{ req.work_object|lower }}"
                            data-transport-type="{{ req.transport_type|lower }}"
                            data-department="{{ req.customer.department.name|lower }}"
                            data-date-start="{{ req.date_start|date:'Y-m-d' }}"
                            data-date-end="{{ req.date_end|date:'Y-m-d' }}"
                            data-time-start="{{ req.time_start|time:'H:i' }}"
                            data-time-end="{{ req.time_end|time:'H:i' }}"
                            data-is-completed-fact="{{ req.is_completed_fact|yesno:'yes,no' }}"
                            data-break-periods='{{ req.break_periods_json|safe }}'
                            data-comment="{{ req.comment }}"
                            data-responsible-id-card="{{ req.responsible_certificate }}"
                            data-slingers='{"names": "{{ req.rigger_name }}", "certificates": "{{ req.rigger_certificates }}"}'
                            class="status-{{ req.status.code }}"
                        >
                        <!-- Действия, ID и Дата подачи -->
                        <td class="actions" style="left: 0; z-index: 1">
                            <!-- Подробнее -->
                            <a href="{% url 'request_detail' req.pk %}" class="btn btn-sm btn-outline-primary me-1 btn-responsive d-flex align-items-center gap-1">
                                <i class="bi bi-eye"></i>
                                <span class="text">Подробнее</span>
                            </a>

                            {% if profile %}
                                {% if profile.role.code == 'operator' and req.status.code in 'new, assigned' %}
                                    <!-- Оператор может редактировать в статусе new или assigned -->
                                    <a href="{% url 'request_update' req.id %}" class="btn btn-sm btn-edit me-1 btn-responsive d-flex align-items-center gap-1">
                                        <i class="bi bi-pencil-square"></i>
                                        <span class="text">Редактировать</span>
                                    </a>
                                {% elif profile.role.code == 'customer' and req.status.code == 'new' %}
                                    {% if req.responsible == profile and req.customer != profile %}
                                        <!-- Нельзя редактировать: только ответственный, не заказчик -->
                                    {% else %}
                                        <!-- Заказчик может редактировать, если он не только ответственный -->
                                        <a href="{% url 'request_update' req.id %}" class="btn btn-sm btn-edit me-1 btn-responsive d-flex align-items-center gap-1">
                                            <i class="bi bi-pencil-square"></i>
                                            <span class="text">Редактировать</span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}


                            {% if profile and profile.role.code == 'operator' or profile.role.code == 'customer' %}
                                <!-- Дублировать -->
                                <a href="{% url 'request_double' req.id %}" class="btn btn-sm btn-double me-1 btn-responsive d-flex align-items-center gap-1">
                                    <i class="bi bi-files"></i>
                                    <span class="text">Дублировать</span>
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ req.id }}</td>
                        <td>
                            <small class="text-muted">
                                {{ req.created_at|date:"d.m.Y H:i" }}
                            </small>
                        </td>

                        <!-- Период работ -->
                        <td>
                            <div>
                                <small class="text-muted">
                                    {% if req.date_start != req.date_end %}
                                    {{ req.date_start|date:"d.m" }} – {{ req.date_end|date:"d.m" }}
                                    {% else %}
                                    {{ req.date_start|date:"d.m" }}
                                    {% endif %}
                                </small><br>
                                <span class="badge bg-light text-dark border mt-1">
                                    {{ req.time_start|time:"H:i" }} – {{ req.time_end|time:"H:i" }}
                                </span>
                            </div>
                        </td>

                        <!-- Вид транспорта -->
                        <td>{{ req.transport_type }}</td>

                        <!-- Вид работ -->
                        <td>{{ req.work_type }}</td>

                        <!-- Объект работ -->
                        <td>{{ req.work_object }}</td>

                        <!-- Статус -->
                        <td class="status">
                            {% if profile.role.code == 'operator' %}
                                <!-- Оператор может менять статус -->
                                <select class="form-select form-select-sm change-status" data-id="{{ req.id }}">
                                    {% for s in statuses %}
                                        <option value="{{ s.id }}" data-code="{{ s.code }}" {% if s.id == req.status.id %}selected{% endif %}>
                                            {{ s.name }}
                                        </option>
                                    {% endfor %}
                                </select>

                            {% elif profile.role.code == 'customer' and req.can_change_status_assigned  %}
                                <!-- Заказчик может менять статус только из assigned -->
                                <select class="form-select form-select-sm change-status" data-id="{{ req.id }}">
                                    {% for s in statuses %}
                                        {% if s.code in 'assigned,work,cancel' %}
                                            <option value="{{ s.id }}" data-code="{{ s.code }}" {% if s.id == req.status.id %}selected{% endif %}>
                                                {{ s.name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            {% elif profile.role.code == 'customer' and req.can_change_status_new  %}
                                <!-- Заказчик может менять статус только из new -->
                                <select class="form-select form-select-sm change-status" data-id="{{ req.id }}">
                                    {% for s in statuses %}
                                        {% if s.code in 'new,cancel' %}
                                            <option value="{{ s.id }}" data-code="{{ s.code }}" {% if s.id == req.status.id %}selected{% endif %}>
                                                {{ s.name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            {% elif profile.role.code == 'customer' and req.can_change_status_work  %}
                                <!-- Заказчик может менять статус только из work -->
                                <select class="form-select form-select-sm change-status" data-id="{{ req.id }}">
                                    {% for s in statuses %}
                                        {% if s.code in 'work,done,cancel' %}
                                            <option value="{{ s.id }}" data-code="{{ s.code }}" {% if s.id == req.status.id %}selected{% endif %}>
                                                {{ s.name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            {% else %}
                                <!-- Во всех остальных случаях просто текст (без возможности менять) -->
                                <span class="status-badge change-status status-{{ req.status.code }}" data-code="{{ req.status.code }}">
                                    {{ req.status.name }}
                                </span>
                            {% endif %}
                        </td>

                        <!-- Заказчик и Подразделение -->
                        <td>{{ req.customer.full_name }}</td>
                        <td>{{ req.customer.department.name }}</td>

                        <!-- Ответственный -->
                        <td class="responsible">
                            {% if profile.role.code == 'operator' and req.status.code in 'new, assigned' %}
                                <select class="change-responsible" data-id="{{ req.id }}">
                                    <option value="">—</option>
                                    {% for u in responsibles %}
                                        <option value="{{ u.id }}"
                                                {% if req.responsible and u.id == req.responsible.id %}selected{% endif %}
                                                data-position="{{ u.position }}">
                                            {{ u.full_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                {% if req.responsible %}
                                    <div>
                                        <div>{{ req.responsible.full_name }}</div>
                                        <small class="text-muted">{{ req.responsible.position }}</small>
                                    </div>
                                {% else %}
                                    —
                                {% endif %}
                            {% endif %}
                        </td>

                        <!-- Перерывы -->
                        <td>
                            {% if req.break_periods %}
                            <div class="d-flex flex-wrap gap-1">
                                {% for br in req.break_periods %}
                                    <span class="badge bg-secondary">{{ br }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            <span class="text-muted">—</span>
                            {% endif %}
                        </td>

                        <!-- Локация и Категория техники -->
                        {% if not profile or profile.role.code == 'employee' %}
                        <td>{{ req.location.name }}</td>
                        {% endif %}

                        <td>{{ req.equipment_category.name }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="14" class="text-center">Нет заявок</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <!-- ExcelJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
    <!-- FileSaver.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.UPDATE_STATUS_URL = "{% url 'update_status' %}";
        window.UPDATE_RESPONSIBLE_URL = "{% url 'update_responsible' %}";
    </script>
    <!-- Скрипты кастомные -->
    <script src="{% static 'myrequests/js/request_list.js' %}"></script>
</body>
</html>