/* Базовые настройки body */
body {
    background-color: #f8f9fa;
    font-size: 0.95rem;
}

/* Стили для бейджей статусов */
.status-badge {
    font-size: clamp(0.8rem, 1.1vw, 1.2rem);
    font-weight: bold;
    padding: 0.35em 0.8em;
    border-radius: 5px;
    color: white;
    background: linear-gradient(135deg, #8E3798, #574CA1, #4DA4CB);
    display: inline-block;
}

/* Стили для шапки модальных окон */
.modal-header {
    background: linear-gradient(135deg, #8E3798, #574CA1, #4DA4CB);
    color: white;
}

/* Стили для карточек */
.card-header {
    background-color: #f1f3f5;
    padding: 0.5rem 1rem;
}

.text-center.align-items-center.mt-2 {
    font-size: calc(0.7rem + 0.7vw);
}

.card-body {
    padding: 0.75rem 1rem;
}

.alert {
    margin-bottom: 0.75rem;
}

h5 {
    font-size: calc(0.5rem + .7vw);
}

p {
    margin-bottom: 0.4rem;
    font-size: calc(0.7rem + .3vw);
}

span {
    font-size: calc(0.5rem + .7vw);
    color: black;
}

/* 
* СТИЛИ ДЛЯ РАЗЛИЧНЫХ СТАТУСОВ ЗАЯВОК
*/
.card-header.status-new {
    background-color: #f4d867 !important;
}

.card-header.status-assigned {
    background-color: #D1B3FF !important;
}

.card-header.status-work {
    background-color: #B2EAC3 !important;
}

.card-header.status-done {
    background-color: #88c9ed !important;
}

.card-header.status-cancel {
    background-color: #ff9696 !important;
}

.card-header.status-default {
    background-color: #e9ecef !important;
}

.card-personal {
    max-width: 48%;

}

@media (max-width: 770px) {
    .card-personal {
        max-width: 100%;
    }

    .card-body {
        padding: 0.5rem .5rem;
    }

    .p-3 {
        padding: .5rem !important;
    }

    .gap-4 {
        gap: 1rem !important;
    }

    .mb-4 {
        margin-bottom: .5rem !important;
    }
}